{:deps
 {org.neyho/eywa-client             {;:local/root "../clients/bb"
                                     :mvn/version "0.1.0-SNAPSHOT"}
  com.github.gersak/toddler-graphql {:mvn/version "0.1.0"}}
 :paths ["src"]}
